.mobile-menu.active {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  min-width: 390px;
  padding: 40px;
  justify-content: center;
}

.mobile-menu.active ul,
.mobile-menu.active div {
  flex-direction: column;
}

.bg.active {
  width: 100vw;
  height: 100vh;
  background-color: #8080807a;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.burger.active {
  transform: rotate(90deg);
}

.submenu.active {
  display: block;
}

.profile-button .active circle,
.profile-button:hover circle {
  fill: #db5743;
}
.profile-button .active path,
.profile-button:hover path {
  fill: #fff;
}
.cart-button .active circle,
.cart-button:hover circle {
  fill: #db5743;
}
.cart-button .active path,
.cart-button:hover path {
  fill: #fff;
}

circle {
  transition: fill 0.5s ease;
}
