.filters {
  max-width: 264px;
  height: fit-content;
}

.filter.active {
  max-height: none;
  transition: max-height 0.3s ease-in;
}

.filter {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.arrow-active {
  transform: scaleY(-1);
}
