.filters {
  max-width: 264px;
  height: fit-content;
}

.filter {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.filter.active {
  max-height: auto; 
  transition: max-height 0.3s ease-in; 
}
