.filters {
  max-width: 264px;
  height: fit-content;
}

.filter.active {
  max-height: none;
  transition: max-height 0.3s ease-in;
}

.filter {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.arrow-active {
  transform: scaleY(-1);
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.asc::after {
  content: "\25B2";
}

.desc::after {
  content: "\25BC";
}

.asc,
.desc {
  border-color: transparent;
  background-color: #db4c43;
  background-color: var(--main-color);
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
