body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  color: var(--secondary-color);
}

body.active {
  overflow: hidden;
}

input[type="checkbox"]:not(:disabled),
input[type="checkbox"]:not(:disabled) + label {
  cursor: pointer;
}

label {
  user-select: none;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

/* ::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(219, 87, 67, 0.4);
  border: 2px solid hsl(120 75% 50% / 1);;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: rgba(170, 158, 156, 0.627);
  border-radius: 10px;
} */

::-webkit-scrollbar {
  width: 10px;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: hsla(0, 7%, 94%, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(219, 87, 67, 0.658);
  border: 2px solid hsla(0, 7%, 94%, 1);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(8, 68%, 56%, 1);
}

.swiper-pagination {
  --swiper-pagination-color: var(--main-color);
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: var(--main-color);
}
