body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  color: var(--secondary-color);
}

body.active {
  overflow: hidden;
}
