body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  color: var(--secondary-color);
}

body.active {
  overflow: hidden;
}

input[type="checkbox"]:not(:disabled),
input[type="checkbox"]:not(:disabled) + label {
  cursor: pointer;
}

label {
  user-select: none;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(219, 87, 67, 0.4);
  border-radius: 100vw;
}
