body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  color: var(--secondary-color);
}

body.active {
  overflow: hidden;
}

input[type="checkbox"]:not(:disabled),
input[type="checkbox"]:not(:disabled) + label {
  cursor: pointer;
}

label {
  user-select: none;
}

.swiper-pagination {
  --swiper-pagination-color: var(--main-color);
}
